<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">
        <h2>Product Search</h2>
        
        <!-- Search Form -->
        <div class="product-grid">
 
            <div class="product" th:each="product : ${products}">
                <img th:src="${product.image}" alt="Product Image">
                <h3 th:text="${product.name}">Name</h3>
                <h3 th:text="${product.description}">Description</h3>
                <p th:text="'Price: $' + ${product.price}">Prize</p>
                <!-- <button type="submit" name="quantity" value="2" class="quantity-btn increment-btn">+</button> -->
    
                <form th:action="@{/user/addToCart}" method="post">
                    
    
                    <input type="hidden" name="id" th:value="${product.id}">
                    <input type="hidden" name="price" th:value="${product.price}">
                    <input type="hidden" name="productName" th:value="${product.name}">
                    <input type="number" name="quantity" min="1" value="1">
        
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        </div>
    
</body>
</html>