<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Update Product</h1>
    
    <form th:action="@{/super-admin/update-products/{id}(id=${product.id})}" th:object="${product}" method="post">
        <label for="name">Product Name:</label>
        <input type="text" id="name" name="name" value="${product.name}" required>
        
        <label for="description">Description:</label>
        <textarea id="description" name="description" value="${product.description}"></textarea>
        
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" value="${product.price}" required>
        
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="${product.quantity}" required>
        
        <label>Image:</label>
        <input type="url" id="image" value="${product.image}" requuired/>
        
        <button type="submit">Update Product</button>
    </form>

    <div>
        <a th:href="@{/super-admin/view-products}">Back to products</a>
    </div>
    
</body>
</html>